@use '../../../global-variables';
.login {
    height: 45px;
    width: 120px;
    border: 1px solid global-variables.$primary-blue;
    border-radius: 7px;
    color: global-variables.$primary-blue;
    background-color: transparent;
    transition: transform 0.15s ease;
    font-weight: 500;
    margin-right: 8px;
    margin-left: 16px;
    &:hover {
        background-color: global-variables.$primary-blue;
        color: global-variables.$font-white;
        cursor: pointer;
        transform: translateY(-3px);
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    }
}

.nav-buttons {
    display: flex;
    flex-wrap: nowrap;
}

.signup {
    height: 45px;
    width: 120px;
    border: 1px solid global-variables.$primary-blue;
    border-radius: 7px;
    background-color: global-variables.$primary-blue;
    color: global-variables.$font-white;
    transition: transform 0.15s ease;
    font-weight: 500;
    margin-left: 8px;
    &:hover {
        background-color: global-variables.$primary-blue-darker;
        color: global-variables.$font-white;
        cursor: pointer;
        transform: translateY(-3px);
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    }
}

header {
    z-index: 10;
    height: 60px;
    width: 100%;
    transition: all 0.2s ease;
}

header.opened {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 10;
    height: 80px;
    width: 100%;
}

nav {
    height: 80px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img.logo {
        height: 50px;
        &:hover {
            cursor: pointer;
        }
    }
    img.burger,
    img.close {
        transition: all 0.2s ease;
        &:hover {
            cursor: pointer;
        }
    }
}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 80%;
}

svg {
    fill: rgb(117, 117, 117);
    transition: fill 0.15s ease;
    &:hover {
        fill: global-variables.$primary-blue;
    }
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    li {
        margin-right: 1.5rem;
        font-weight: 500;
        transition: color 0.15s ease;
        &:hover {
            cursor: pointer;
            color: global-variables.$primary-blue;
        }
    }
}

// mobile
header.handset {
    .nav-items {
        display: none;
    }
}