mat-sidenav {
    width: 100%;
}

mat-sidenav-container {
    height: calc(100vh - 75px);
    z-index: 0;
}

mat-sidenav-container.mobile {
    height: calc(100vh - 61px);
    z-index: 0;
}

mat-sidenav-container.opened {
    z-index: 0;
}