// primary colors
$primary-blue: #265ded;
$primary-blue-darker: #174bcc;
$primary-light-gray: #dfdfdf;
// accent colors
$accent-yellow: #ffce1f;
//font colors
$font-white: #ffffff;
$font-black: #000000;
$font-gray: #848484;